<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collection-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1353},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>collection-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,202},{274,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,207}}</string>
                <key>sourceSize</key>
                <string>{274,207}</string>
            </dict>
            <key>collection-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,612},{259,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,212}}</string>
                <key>sourceSize</key>
                <string>{259,212}</string>
            </dict>
            <key>collection-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1605},{187,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,208}}</string>
                <key>sourceSize</key>
                <string>{187,208}</string>
            </dict>
            <key>collection-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,332},{269,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,214}}</string>
                <key>sourceSize</key>
                <string>{269,214}</string>
            </dict>
            <key>collection-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1544},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>collection-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1581},{191,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>collection-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,124},{275,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,206}}</string>
                <key>sourceSize</key>
                <string>{275,206}</string>
            </dict>
            <key>collection-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1448},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>collection-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,204},{250,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,210}}</string>
                <key>sourceSize</key>
                <string>{250,210}</string>
            </dict>
            <key>collection-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1824},{210,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,213}}</string>
                <key>sourceSize</key>
                <string>{210,213}</string>
            </dict>
            <key>collection-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,203}}</string>
                <key>sourceSize</key>
                <string>{325,203}</string>
            </dict>
            <key>collection-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,402},{270,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,212}}</string>
                <key>sourceSize</key>
                <string>{270,212}</string>
            </dict>
            <key>collection-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,822},{113,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,213}}</string>
                <key>sourceSize</key>
                <string>{113,213}</string>
            </dict>
            <key>collection-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,608},{248,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{248,211}</string>
            </dict>
            <key>collection-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1148},{180,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,213}}</string>
                <key>sourceSize</key>
                <string>{180,213}</string>
            </dict>
            <key>collection-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1420},{159,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,212}}</string>
                <key>sourceSize</key>
                <string>{159,212}</string>
            </dict>
            <key>collection-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,616},{244,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,203}}</string>
                <key>sourceSize</key>
                <string>{244,203}</string>
            </dict>
            <key>collection-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,935},{239,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,211}}</string>
                <key>sourceSize</key>
                <string>{239,211}</string>
            </dict>
            <key>collection-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,537},{254,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,206}}</string>
                <key>sourceSize</key>
                <string>{254,206}</string>
            </dict>
            <key>collection-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1804},{209,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,206}}</string>
                <key>sourceSize</key>
                <string>{209,206}</string>
            </dict>
            <key>collection-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1042},{226,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,206}}</string>
                <key>sourceSize</key>
                <string>{226,206}</string>
            </dict>
            <key>collection-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,826},{239,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,214}}</string>
                <key>sourceSize</key>
                <string>{239,214}</string>
            </dict>
            <key>collection-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{160,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,214}}</string>
                <key>sourceSize</key>
                <string>{160,214}</string>
            </dict>
            <key>collection-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,828},{113,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,211}}</string>
                <key>sourceSize</key>
                <string>{113,211}</string>
            </dict>
            <key>collection-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1794},{204,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>collection-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,399},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,88}</string>
            </dict>
            <key>collection-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{100,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,216}}</string>
                <key>sourceSize</key>
                <string>{100,216}</string>
            </dict>
            <key>collection-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,2},{276,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,120}}</string>
                <key>sourceSize</key>
                <string>{276,120}</string>
            </dict>
            <key>collection-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,608},{74,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,212}}</string>
                <key>sourceSize</key>
                <string>{74,212}</string>
            </dict>
            <key>collection-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,183},{288,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,214}}</string>
                <key>sourceSize</key>
                <string>{288,214}</string>
            </dict>
            <key>collection-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1246},{105,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,213}}</string>
                <key>sourceSize</key>
                <string>{105,213}</string>
            </dict>
            <key>collection-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,411},{269,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,199}}</string>
                <key>sourceSize</key>
                <string>{269,199}</string>
            </dict>
            <key>collection-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,958},{231,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,214}}</string>
                <key>sourceSize</key>
                <string>{231,214}</string>
            </dict>
            <key>collection-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{249,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,201}}</string>
                <key>sourceSize</key>
                <string>{249,201}</string>
            </dict>
            <key>collection-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{300,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,179}}</string>
                <key>sourceSize</key>
                <string>{300,179}</string>
            </dict>
            <key>collection-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,416},{268,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,190}}</string>
                <key>sourceSize</key>
                <string>{268,190}</string>
            </dict>
            <key>collection-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,2},{251,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,200}}</string>
                <key>sourceSize</key>
                <string>{251,200}</string>
            </dict>
            <key>collection-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,359},{286,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,195}}</string>
                <key>sourceSize</key>
                <string>{286,195}</string>
            </dict>
            <key>collection-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1659},{165,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,207}}</string>
                <key>sourceSize</key>
                <string>{165,207}</string>
            </dict>
            <key>collection-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1595},{207,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,209}}</string>
                <key>sourceSize</key>
                <string>{207,209}</string>
            </dict>
            <key>collection-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,732},{245,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,201}}</string>
                <key>sourceSize</key>
                <string>{245,201}</string>
            </dict>
            <key>collection-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{234,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,210}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>collection-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1041},{225,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,213}}</string>
                <key>sourceSize</key>
                <string>{225,213}</string>
            </dict>
            <key>collection-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1804},{182,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,209}}</string>
                <key>sourceSize</key>
                <string>{182,209}</string>
            </dict>
            <key>collection-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1175},{224,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,210}}</string>
                <key>sourceSize</key>
                <string>{224,210}</string>
            </dict>
            <key>collection-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1387},{217,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,196}}</string>
                <key>sourceSize</key>
                <string>{217,196}</string>
            </dict>
            <key>collection-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,548},{262,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,182}}</string>
                <key>sourceSize</key>
                <string>{262,182}</string>
            </dict>
            <key>collection-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{305,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,154}}</string>
                <key>sourceSize</key>
                <string>{305,154}</string>
            </dict>
            <key>collection-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,745},{238,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,211}}</string>
                <key>sourceSize</key>
                <string>{238,211}</string>
            </dict>
            <key>collection-55.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1174},{226,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,204}}</string>
                <key>sourceSize</key>
                <string>{226,204}</string>
            </dict>
            <key>collection-56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,616},{91,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,210}}</string>
                <key>sourceSize</key>
                <string>{91,210}</string>
            </dict>
            <key>collection-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1585},{178,214}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,57},{178,214}}</string>
                <key>sourceSize</key>
                <string>{238,328}</string>
            </dict>
            <key>collection-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1253},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>collection-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1256},{164,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,213}}</string>
                <key>sourceSize</key>
                <string>{164,213}</string>
            </dict>
            <key>collection-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,821},{232,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,207}}</string>
                <key>sourceSize</key>
                <string>{232,207}</string>
            </dict>
            <key>collection-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1464},{177,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>collection-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{285,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,198}}</string>
                <key>sourceSize</key>
                <string>{285,198}</string>
            </dict>
            <key>collection-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,399},{280,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,136}}</string>
                <key>sourceSize</key>
                <string>{280,136}</string>
            </dict>
            <key>collection-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,556},{253,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{253,201}}</string>
                <key>sourceSize</key>
                <string>{285,339}</string>
            </dict>
            <key>collection-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{290,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,194}}</string>
                <key>sourceSize</key>
                <string>{290,194}</string>
            </dict>
            <key>collection-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{108,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,214}}</string>
                <key>sourceSize</key>
                <string>{108,214}</string>
            </dict>
            <key>collection-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1250},{168,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,213}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>collection-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1240},{219,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,206}}</string>
                <key>sourceSize</key>
                <string>{219,206}</string>
            </dict>
            <key>collection-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,963},{231,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,210}}</string>
                <key>sourceSize</key>
                <string>{231,210}</string>
            </dict>
            <key>collection-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1330},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>collection-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,158},{292,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,199}}</string>
                <key>sourceSize</key>
                <string>{292,199}</string>
            </dict>
            <key>collection-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,821},{244,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,212}}</string>
                <key>sourceSize</key>
                <string>{244,212}</string>
            </dict>
            <key>collection-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1035},{239,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,209}}</string>
                <key>sourceSize</key>
                <string>{239,209}</string>
            </dict>
            <key>collection-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1030},{226,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,208}}</string>
                <key>sourceSize</key>
                <string>{226,208}</string>
            </dict>
            <key>collection-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1380},{218,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,213}}</string>
                <key>sourceSize</key>
                <string>{218,213}</string>
            </dict>
            <key>collection-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{291,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,206}}</string>
                <key>sourceSize</key>
                <string>{291,206}</string>
            </dict>
            <key>collection-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{106,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,215}}</string>
                <key>sourceSize</key>
                <string>{106,215}</string>
            </dict>
            <key>collection-76.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,759},{235,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,202}}</string>
                <key>sourceSize</key>
                <string>{235,202}</string>
            </dict>
            <key>collection-77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{220,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,214}}</string>
                <key>sourceSize</key>
                <string>{220,214}</string>
            </dict>
            <key>collection-78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{228,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,208}}</string>
                <key>sourceSize</key>
                <string>{228,208}</string>
            </dict>
            <key>collection-79.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,198},{283,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,202}}</string>
                <key>sourceSize</key>
                <string>{283,202}</string>
            </dict>
            <key>collection-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1422},{181,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,211}}</string>
                <key>sourceSize</key>
                <string>{181,211}</string>
            </dict>
            <key>collection-80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{286,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,194}}</string>
                <key>sourceSize</key>
                <string>{286,194}</string>
            </dict>
            <key>collection-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1037},{122,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,214}}</string>
                <key>sourceSize</key>
                <string>{122,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collct.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c862392e82d79f6f2702e3c2c1daef76:1/1$</string>
            <key>textureFileName</key>
            <string>collct.png</string>
        </dict>
    </dict>
</plist>
