<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s-collection-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,505},{109,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-101.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,645},{107,71}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,954},{117,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,219},{117,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,637},{97,71}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,345},{115,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,432},{111,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,576},{107,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,649},{105,71}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,282},{117,61}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,219},{117,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,359},{113,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,589},{101,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,722},{93,71}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,345},{115,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,219},{117,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,75},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,835},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,716},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,597},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,75},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,478},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,460},{91,71}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,121},{113,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,359},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,864},{71,71}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,580},{107,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,578},{107,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,240},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,286},{115,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,121},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,436},{111,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,236},{107,67}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{107,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,791},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,478},{109,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,564},{109,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{117,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,282},{117,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-55.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,631},{105,71}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-56.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,290},{75,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,533},{95,71}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,692},{97,71}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,718},{103,71}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,572},{107,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,219},{117,61}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,432},{111,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,363},{113,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,791},{71,71}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{87,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,653},{105,71}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,491},{111,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,606},{107,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,363},{113,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{117,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,221},{85,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{85,67}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-76.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,359},{113,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{113,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-77.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,418},{113,65}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{113,65}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-78.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,505},{109,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{109,65}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-79.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,485},{111,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,219},{117,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-80.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,286},{115,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-81.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,359},{113,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-82.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-83.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,345},{113,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-84.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,290},{115,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-85.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,418},{111,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-86.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-87.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-88.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,726},{101,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-89.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,704},{93,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,558},{109,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-90.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,286},{115,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-91.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-93.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,509},{109,69}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{109,69}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-94.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,219},{117,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,65}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-95.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,724},{101,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-96.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,651},{105,71}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-97.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,430},{111,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>s-collection-98.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,148},{117,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,69}</string>
            </dict>
            <key>s-collection-99.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,503},{109,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scollct.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f032ad9e683c89c0dc26b325e5618520:1/1$</string>
            <key>textureFileName</key>
            <string>scollct.png</string>
        </dict>
    </dict>
</plist>
