<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{482,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,482}}</string>
                <key>sourceSize</key>
                <string>{482,482}</string>
            </dict>
            <key>d-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,763},{275,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,276}}</string>
                <key>sourceSize</key>
                <string>{275,276}</string>
            </dict>
            <key>d-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,486},{275,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,481}}</string>
                <key>sourceSize</key>
                <string>{275,481}</string>
            </dict>
            <key>d-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{482,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,482}}</string>
                <key>sourceSize</key>
                <string>{482,482}</string>
            </dict>
            <key>d-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{274,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,274}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>d-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,483}}</string>
                <key>sourceSize</key>
                <string>{276,483}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape-shadow.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc81df52177e8876afefb09dcd517ca:1/1$</string>
            <key>textureFileName</key>
            <string>shape-shadow.png</string>
        </dict>
    </dict>
</plist>
