<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-113-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,74},{113,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,77}}</string>
                <key>sourceSize</key>
                <string>{113,77}</string>
            </dict>
            <key>btn-299-96.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,153},{299,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,96}}</string>
                <key>sourceSize</key>
                <string>{299,96}</string>
            </dict>
            <key>btn-common-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,454},{129,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,82}}</string>
                <key>sourceSize</key>
                <string>{129,82}</string>
            </dict>
            <key>common-dialog-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>common-dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{664,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,393}}</string>
                <key>sourceSize</key>
                <string>{664,393}</string>
            </dict>
            <key>dialog-back-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,658},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dialog-back-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,12},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon-common-skill-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,802},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,874},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>icon-common-skill-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,730},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,585},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>icon-common-skill-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,658},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0bbc743d5c85d0369332ebd8a5cd64:1/1$</string>
            <key>textureFileName</key>
            <string>ui-common.png</string>
        </dict>
    </dict>
</plist>
