<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-game-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,649},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>btn-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,718},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,515}}</string>
                <key>sourceSize</key>
                <string>{1001,515}</string>
            </dict>
            <key>game-touch-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{473,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,62}}</string>
                <key>sourceSize</key>
                <string>{473,62}</string>
            </dict>
            <key>game-touch-half-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,773},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>game-touch-half-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,534},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>game-touch-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,833},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>icon-stars-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,786},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>opt-skill-back-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,701},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>opt-skill-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,701},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>sp-achieve-game-90.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,957},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>sp-collection-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,534},{165,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,104}}</string>
                <key>sourceSize</key>
                <string>{165,104}</string>
            </dict>
            <key>sp-collection-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,951},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>sp-collection-what.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,534},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>sp-game-opt-back-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,851},{138,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,105}}</string>
                <key>sourceSize</key>
                <string>{138,105}</string>
            </dict>
            <key>sp-game-opt-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,841},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>sp-result-collection-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,802},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>sp-result-collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,896},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>sp-result-star-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,991},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>sp-result-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,991},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>star-color-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,603},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,534},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>star-color-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,534},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,717},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,623},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,948},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,836},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-color-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,954},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>top-splider-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{1001,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,13}}</string>
                <key>sourceSize</key>
                <string>{1001,13}</string>
            </dict>
            <key>top-splider-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{1001,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,13}}</string>
                <key>sourceSize</key>
                <string>{1001,13}</string>
            </dict>
            <key>word-cn-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,649},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>word-cn-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,534},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>word-cn-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,766},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>word-cn-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,592},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>word-cn-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,931},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>word-cn-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,772},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>word-cn-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,599},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>word-cn-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,701},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>word-en-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,898},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>word-en-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,833},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>word-en-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,719},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>word-en-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,534},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>word-en-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,600},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>word-en-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,534},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>word-en-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,802},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-en-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,644},{101,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{101,33}</string>
            </dict>
            <key>word-fr-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,701},{148,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,34}}</string>
                <key>sourceSize</key>
                <string>{148,34}</string>
            </dict>
            <key>word-fr-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,707},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>word-fr-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,534},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>word-fr-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,837},{86,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,33}}</string>
                <key>sourceSize</key>
                <string>{86,33}</string>
            </dict>
            <key>word-fr-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,666},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>word-fr-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,534},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>word-fr-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,802},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-fr-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,801},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>word-gr-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,786},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>word-gr-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,603},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>word-gr-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,836},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>word-gr-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,896},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>word-gr-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,672},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>word-gr-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,534},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>word-gr-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,802},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>word-gr-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,738},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>word-jp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,831},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>word-jp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,824},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>word-jp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,534},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>word-jp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,931},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>word-jp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,747},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>word-jp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,759},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>word-jp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,707},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>word-jp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,591},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>word-pt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,534},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>word-pt-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,922},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>word-pt-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,957},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>word-pt-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,925},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>word-pt-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,698},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>word-pt-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,991},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>word-pt-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,637},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>word-pt-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,534},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>word-sp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,905},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>word-sp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,692},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word-sp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,692},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>word-sp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,628},{89,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,24}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>word-sp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,905},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>word-sp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,837},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,23}</string>
            </dict>
            <key>word-sp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,628},{88,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,23}}</string>
                <key>sourceSize</key>
                <string>{88,23}</string>
            </dict>
            <key>word-sp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,633},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:914b2bb1dc40c08b39d3954ffb470c27:1/1$</string>
            <key>textureFileName</key>
            <string>ui-game.png</string>
        </dict>
    </dict>
</plist>
