<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-main-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1412},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>btn-main-noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1985},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>btn-main-start-board-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1262},{701,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,148}}</string>
                <key>sourceSize</key>
                <string>{701,148}</string>
            </dict>
            <key>collection-detail-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1672},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
            <key>dialog-slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1458},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>donopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{701,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,153}}</string>
                <key>sourceSize</key>
                <string>{701,153}</string>
            </dict>
            <key>icon-collection-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1412},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>icon-main-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1847},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon-main-stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1412},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>label-btn-main-more.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1451},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>label-btn-main-photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1933},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>language-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1012},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,872},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,732},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,237},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,143},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{139,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{139,93}</string>
            </dict>
            <key>language-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,96},{138,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,94}}</string>
                <key>sourceSize</key>
                <string>{138,94}</string>
            </dict>
            <key>language-suoml.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,236},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>logo-donopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1985},{295,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,61}}</string>
                <key>sourceSize</key>
                <string>{295,61}</string>
            </dict>
            <key>main-icon-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1487},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>noads-name-board.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1412},{553,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,73}}</string>
                <key>sourceSize</key>
                <string>{553,73}</string>
            </dict>
            <key>overlap-game-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1847},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>overlap-game-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{690,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,296}}</string>
                <key>sourceSize</key>
                <string>{690,296}</string>
            </dict>
            <key>slider-collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1471},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>sp-donation-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,406},{335,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,324}}</string>
                <key>sourceSize</key>
                <string>{335,324}</string>
            </dict>
            <key>sp-more-game-ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{461,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,258}}</string>
                <key>sourceSize</key>
                <string>{461,258}</string>
            </dict>
            <key>sp-more-game-maryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1487},{461,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,259}}</string>
                <key>sourceSize</key>
                <string>{461,259}</string>
            </dict>
            <key>sp-more-game-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,825},{485,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,435}}</string>
                <key>sourceSize</key>
                <string>{485,435}</string>
            </dict>
            <key>sp-more-game-overlap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{402,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,172}}</string>
                <key>sourceSize</key>
                <string>{402,172}</string>
            </dict>
            <key>split-collection-info.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1471},{460,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,3}}</string>
                <key>sourceSize</key>
                <string>{460,3}</string>
            </dict>
            <key>st-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,821}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,821}}</string>
                <key>sourceSize</key>
                <string>{532,821}</string>
            </dict>
            <key>title-overlap-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1487},{351,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,18}}</string>
                <key>sourceSize</key>
                <string>{351,18}</string>
            </dict>
            <key>title-overlap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1932},{531,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,59}}</string>
                <key>sourceSize</key>
                <string>{531,59}</string>
            </dict>
            <key>typewriter_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1487},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7117326c0a1fce9dc40843766a73c16a:1/1$</string>
            <key>textureFileName</key>
            <string>ui-home.png</string>
        </dict>
    </dict>
</plist>
