<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collection-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,311},{304,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,162}}</string>
                <key>sourceSize</key>
                <string>{304,162}</string>
            </dict>
            <key>collection-101.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1378},{181,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,213}}</string>
                <key>sourceSize</key>
                <string>{181,213}</string>
            </dict>
            <key>collection-81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{220,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,210}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>collection-82.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1563},{200,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,211}}</string>
                <key>sourceSize</key>
                <string>{200,211}</string>
            </dict>
            <key>collection-83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{227,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,212}}</string>
                <key>sourceSize</key>
                <string>{227,212}</string>
            </dict>
            <key>collection-84.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{307,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,167}}</string>
                <key>sourceSize</key>
                <string>{307,167}</string>
            </dict>
            <key>collection-85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{187,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,210}}</string>
                <key>sourceSize</key>
                <string>{187,210}</string>
            </dict>
            <key>collection-86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{316,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,206}}</string>
                <key>sourceSize</key>
                <string>{316,206}</string>
            </dict>
            <key>collection-87.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1371},{242,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,190}}</string>
                <key>sourceSize</key>
                <string>{242,190}</string>
            </dict>
            <key>collection-88.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1163},{123,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,213}}</string>
                <key>sourceSize</key>
                <string>{123,213}</string>
            </dict>
            <key>collection-89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{105,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,203}}</string>
                <key>sourceSize</key>
                <string>{105,203}</string>
            </dict>
            <key>collection-90.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1593},{189,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,211}}</string>
                <key>sourceSize</key>
                <string>{189,211}</string>
            </dict>
            <key>collection-91.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,617},{247,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,205}}</string>
                <key>sourceSize</key>
                <string>{247,205}</string>
            </dict>
            <key>collection-92.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1057},{292,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,183}}</string>
                <key>sourceSize</key>
                <string>{292,183}</string>
            </dict>
            <key>collection-93.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1432},{226,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,214}}</string>
                <key>sourceSize</key>
                <string>{226,214}</string>
            </dict>
            <key>collection-94.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1242},{274,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,188}}</string>
                <key>sourceSize</key>
                <string>{274,188}</string>
            </dict>
            <key>collection-95.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1163},{274,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,206}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>collection-96.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1432},{133,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,214}}</string>
                <key>sourceSize</key>
                <string>{133,214}</string>
            </dict>
            <key>collection-97.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,824},{308,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,188}}</string>
                <key>sourceSize</key>
                <string>{308,188}</string>
            </dict>
            <key>collection-98.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1014},{308,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,147}}</string>
                <key>sourceSize</key>
                <string>{308,147}</string>
            </dict>
            <key>collection-99.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1784},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>fullplanet-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{382,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,378}}</string>
                <key>sourceSize</key>
                <string>{382,378}</string>
            </dict>
            <key>fullplanet-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,370},{361,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,357}}</string>
                <key>sourceSize</key>
                <string>{361,357}</string>
            </dict>
            <key>fullplanet-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{335,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,332}}</string>
                <key>sourceSize</key>
                <string>{335,332}</string>
            </dict>
            <key>fullplanet-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,452}}</string>
                <key>sourceSize</key>
                <string>{318,452}</string>
            </dict>
            <key>fullplanet-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,729},{328,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,326}}</string>
                <key>sourceSize</key>
                <string>{328,326}</string>
            </dict>
            <key>fullplanet-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{366,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,387}}</string>
                <key>sourceSize</key>
                <string>{366,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1179bee670de35728beb1ff8f14dd922:1/1$</string>
            <key>textureFileName</key>
            <string>planet.png</string>
        </dict>
    </dict>
</plist>
