<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-129-79-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,397},{129,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,79}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>btn-129-79-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{129,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,79}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>btn-134-87-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,424},{134,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,87}}</string>
                <key>sourceSize</key>
                <string>{134,87}</string>
            </dict>
            <key>btn-146-92-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,480},{146,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>btn-146-92-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,478},{146,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>btn-175-85-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,397},{175,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,85}}</string>
                <key>sourceSize</key>
                <string>{175,85}</string>
            </dict>
            <key>btn-203-81-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,397},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>btn-203-81-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,479},{203,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,81}}</string>
                <key>sourceSize</key>
                <string>{203,81}</string>
            </dict>
            <key>btn-252-82-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,734},{252,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,82}}</string>
                <key>sourceSize</key>
                <string>{252,82}</string>
            </dict>
            <key>btn-252-82-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{252,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,82}}</string>
                <key>sourceSize</key>
                <string>{252,82}</string>
            </dict>
            <key>btn-253-83-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{253,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,83}}</string>
                <key>sourceSize</key>
                <string>{253,83}</string>
            </dict>
            <key>btn-258-88-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,334},{258,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,88}}</string>
                <key>sourceSize</key>
                <string>{258,88}</string>
            </dict>
            <key>btn-328-107-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,225},{328,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,107}}</string>
                <key>sourceSize</key>
                <string>{328,107}</string>
            </dict>
            <key>btn-328-107-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,116},{328,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,107}}</string>
                <key>sourceSize</key>
                <string>{328,107}</string>
            </dict>
            <key>btn-334-112-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{334,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,112}}</string>
                <key>sourceSize</key>
                <string>{334,112}</string>
            </dict>
            <key>common-dialog-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>common-dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,393}}</string>
                <key>sourceSize</key>
                <string>{664,393}</string>
            </dict>
            <key>icon-common-skill-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,484},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,484},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>icon-common-skill-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,551},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,496},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,496},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,479},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,424},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,334},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>icon-common-skill-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,424},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-common-skill-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,407},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>label-btn-common-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,684},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d62824ec1c6bd873501e09b84b1fd2:1/1$</string>
            <key>textureFileName</key>
            <string>ui-common.png</string>
        </dict>
    </dict>
</plist>
