<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-main-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,740},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>btn-main-noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,694},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>btn-main-start-board-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{701,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,148}}</string>
                <key>sourceSize</key>
                <string>{701,148}</string>
            </dict>
            <key>collection-detail-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1169},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
            <key>dialog-slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,817},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>donopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,153}}</string>
                <key>sourceSize</key>
                <string>{701,153}</string>
            </dict>
            <key>icon-collection-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,779},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>icon-main-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,838},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon-main-stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,742},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>label-btn-main-more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,355},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>label-btn-main-photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,876},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>language-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1263},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1169},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1169},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,641},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1169},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,547},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,452},{139,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{139,93}</string>
            </dict>
            <key>language-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1141},{138,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,94}}</string>
                <key>sourceSize</key>
                <string>{138,94}</string>
            </dict>
            <key>language-suoml.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1281},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>logo-donopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,443},{295,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,61}}</string>
                <key>sourceSize</key>
                <string>{295,61}</string>
            </dict>
            <key>main-icon-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,694},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>noads-name-board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{553,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,73}}</string>
                <key>sourceSize</key>
                <string>{553,73}</string>
            </dict>
            <key>overlap-game-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,307},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>overlap-game-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{690,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,296}}</string>
                <key>sourceSize</key>
                <string>{690,296}</string>
            </dict>
            <key>slider-collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,438},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>sp-donation-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{335,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,324}}</string>
                <key>sourceSize</key>
                <string>{335,324}</string>
            </dict>
            <key>sp-more-game-ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,909},{461,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,258}}</string>
                <key>sourceSize</key>
                <string>{461,258}</string>
            </dict>
            <key>sp-more-game-maryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{461,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,259}}</string>
                <key>sourceSize</key>
                <string>{461,259}</string>
            </dict>
            <key>sp-more-game-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{485,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,435}}</string>
                <key>sourceSize</key>
                <string>{485,435}</string>
            </dict>
            <key>sp-more-game-overlap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,735},{402,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,172}}</string>
                <key>sourceSize</key>
                <string>{402,172}</string>
            </dict>
            <key>split-collection-info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,355},{460,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,3}}</string>
                <key>sourceSize</key>
                <string>{460,3}</string>
            </dict>
            <key>title-overlap-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{351,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,18}}</string>
                <key>sourceSize</key>
                <string>{351,18}</string>
            </dict>
            <key>title-overlap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{531,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,59}}</string>
                <key>sourceSize</key>
                <string>{531,59}</string>
            </dict>
            <key>typewriter_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,413},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb640628498645107d12876cdf8371d:1/1$</string>
            <key>textureFileName</key>
            <string>ui-home.png</string>
        </dict>
    </dict>
</plist>
