<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-main-config.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1801},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>btn-main-eye-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1862},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn-main-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1972},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>btn-main-noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1769},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>btn-main-photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1972},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>collection-detail-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1861},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
            <key>dialog-slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2038},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>icon-collection-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1801},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>icon-main-collects.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1769},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon-main-stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1816},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>label-btn-main-more.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1932},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>label-btn-main-photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1972},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>label-title-config.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1801},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>label-title-donation.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1801},{229,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,80}}</string>
                <key>sourceSize</key>
                <string>{229,80}</string>
            </dict>
            <key>label-title-more.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1964},{133,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,79}}</string>
                <key>sourceSize</key>
                <string>{133,79}</string>
            </dict>
            <key>language-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1909},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1675},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1769},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1801},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1675},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>language-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1801},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>language-pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1801},{139,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{139,93}</string>
            </dict>
            <key>language-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1942},{138,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,94}}</string>
                <key>sourceSize</key>
                <string>{138,94}</string>
            </dict>
            <key>language-suoml.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1942},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>logo-donopo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1675},{295,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,61}}</string>
                <key>sourceSize</key>
                <string>{295,61}</string>
            </dict>
            <key>logo-splash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,1334}}</string>
                <key>sourceSize</key>
                <string>{998,1334}</string>
            </dict>
            <key>main-icon-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1892},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>noads-name-board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{553,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,73}}</string>
                <key>sourceSize</key>
                <string>{553,73}</string>
            </dict>
            <key>overlap-game-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1893},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,141}}</string>
                <key>sourceSize</key>
                <string>{143,141}</string>
            </dict>
            <key>overlap-game-title-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{278,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,45}}</string>
                <key>sourceSize</key>
                <string>{278,45}</string>
            </dict>
            <key>overlap-game-title-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1861},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>overlap-game-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1338},{521,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,124}}</string>
                <key>sourceSize</key>
                <string>{521,124}</string>
            </dict>
            <key>slider-collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2038},{8,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,436}}</string>
                <key>sourceSize</key>
                <string>{8,436}</string>
            </dict>
            <key>sp-donation-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1338},{335,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,324}}</string>
                <key>sourceSize</key>
                <string>{335,324}</string>
            </dict>
            <key>sp-more-game-ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1338},{461,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,258}}</string>
                <key>sourceSize</key>
                <string>{461,258}</string>
            </dict>
            <key>sp-more-game-maryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1338},{461,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,259}}</string>
                <key>sourceSize</key>
                <string>{461,259}</string>
            </dict>
            <key>typewriter_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1919},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-home.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1139c414213b153613da364ad8c66488:1/1$</string>
            <key>textureFileName</key>
            <string>ui-home.png</string>
        </dict>
    </dict>
</plist>
