<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar-3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1903},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1748},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1806},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1806},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1810},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1810},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1971},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1904},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1748},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1967},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-8-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1748},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>avatar-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1748},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>btn-select-scene-left-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1973},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>btn-select-scene-right-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>btn-select-travel-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>btn-select-travel-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1748},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>icon-select-page-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1788},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-page-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1788},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-star-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1748},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon-select-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1788},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>icon-select-travel-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1967},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>icon-select-travel-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1903},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>label-btn-how-skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1903},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>scale9sp-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2029},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>select-top-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1808},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>slider-select-travel.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1872},{578,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,29}}</string>
                <key>sourceSize</key>
                <string>{578,29}</string>
            </dict>
            <key>sp-prepare-level-board-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2042},{367,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,2}}</string>
                <key>sourceSize</key>
                <string>{367,2}</string>
            </dict>
            <key>sp-select-level-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1748},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>st-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1387},{532,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,818}}</string>
                <key>sourceSize</key>
                <string>{532,818}</string>
            </dict>
            <key>st-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,853},{532,822}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,822}}</string>
                <key>sourceSize</key>
                <string>{532,822}</string>
            </dict>
            <key>st-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{532,813}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,813}}</string>
                <key>sourceSize</key>
                <string>{532,813}</string>
            </dict>
            <key>st-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,536},{768,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,315}}</string>
                <key>sourceSize</key>
                <string>{768,315}</string>
            </dict>
            <key>st-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{695,910}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,910}}</string>
                <key>sourceSize</key>
                <string>{695,910}</string>
            </dict>
            <key>st-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,914},{532,825}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,825}}</string>
                <key>sourceSize</key>
                <string>{532,825}</string>
            </dict>
            <key>st-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{532,832}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,832}}</string>
                <key>sourceSize</key>
                <string>{532,832}</string>
            </dict>
            <key>st-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{532,823}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,823}}</string>
                <key>sourceSize</key>
                <string>{532,823}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-select.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:016d3ccd89c73aefdd52b7618e1f9cb1:1/1$</string>
            <key>textureFileName</key>
            <string>ui-select.png</string>
        </dict>
    </dict>
</plist>
