<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar-3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,173},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,118},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,683},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,622},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,371},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,956},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,491},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,429},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-8-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,803},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>avatar-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,744},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>btn-select-scene-left-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,228},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>btn-select-scene-right-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,553},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>btn-select-travel-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>btn-select-travel-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>icon-select-page-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,386},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-page-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,371},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-star-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,553},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon-select-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,553},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>icon-select-travel-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>icon-select-travel-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>label-btn-how-skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,268},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>scale9sp-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,570},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>select-top-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,862},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>slider-select-travel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,29}}</string>
                <key>sourceSize</key>
                <string>{578,29}</string>
            </dict>
            <key>sp-prepare-level-board-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{367,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,2}}</string>
                <key>sourceSize</key>
                <string>{367,2}</string>
            </dict>
            <key>sp-select-level-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,921},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-select.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc63efb87e51444223fd8fd892467d36:1/1$</string>
            <key>textureFileName</key>
            <string>ui-select.png</string>
        </dict>
    </dict>
</plist>
