<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar-3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>avatar-4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,897},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,842},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>avatar-5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>avatar-6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>avatar-7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>avatar-8-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>avatar-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>btn-select-scene-left-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>btn-select-scene-right-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,76},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>icon-select-page-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,160},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-page-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,145},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>icon-select-percent-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>icon-select-percent-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,200},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>icon-select-percent-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,175},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>icon-select-star-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon-select-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,396},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>icon-select-travel-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>icon-select-travel-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>label-btn-how-skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,145},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>scale9sp-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,222},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>select-top-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,783},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>slider-select-travel.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,203},{578,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,29}}</string>
                <key>sourceSize</key>
                <string>{578,29}</string>
            </dict>
            <key>sp-prepare-level-board-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,27},{367,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,2}}</string>
                <key>sourceSize</key>
                <string>{367,2}</string>
            </dict>
            <key>sp-select-level-board-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,76}}</string>
                <key>sourceSize</key>
                <string>{135,76}</string>
            </dict>
            <key>sp-select-level-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,27},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-select.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a686c6406a9554423461dd163323e5f:1/1$</string>
            <key>textureFileName</key>
            <string>ui-select.png</string>
        </dict>
    </dict>
</plist>
